.standardTheme {
    --cyberPink: #ff00ff;
    --cyberBlue: #00ffff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

header div span {
    align-self: center;
    justify-self: center;
    flex-grow: 1;
    font-size: 3.5em;
    color: var(--cyberBlue);
}

header div span svg {
    color: var(--cyberBlue);
    margin: 0 12px;
    filter: drop-shadow(0 0 5px var(--cyberBlue))
            drop-shadow(0 0 10px var(--cyberBlue))
            drop-shadow(0 0 20px var(--cyberPink))
            drop-shadow(0 0 40px var(--cyberPink));
}

.favicon-container {
    min-width: 150px;
    max-width: 150px;
    padding: 2px;
    border-radius: 20px;
    background: linear-gradient(45deg,
        var(--cyberBlue) 0%,
        var(--cyberBlue) 10%,
        var(--cyberPink) 20%,
        var(--cyberBlue) 30%,
        var(--cyberPink) 40%,
        var(--cyberBlue) 50%,
        var(--cyberPink) 60%,
        var(--cyberBlue) 70%,
        var(--cyberPink) 80%,
        var(--cyberBlue) 90%,
        var(--cyberPink) 100%
    );
    background-size: 250% 250%;
    animation: gradientMove 3s linear infinite;
}

#favicon {
    width: 100%;
    height: 100%;
    clip-path: polygon(
        10% 0%,
        90% 0%,
        100% 10%,
        100% 35%,
        92% 50%,
        100% 65%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 65%,
        8% 50%,
        0% 35%,
        0% 10%
    );
    z-index: 1;
    border: 1px solid var(--cyberBlue);
    animation: neonPulse 1.5s infinite alternate, fade 4s ease-in-out infinite;
}

header h1 {
    font-size: 1.8em;
    text-shadow:
        0 0 5px var(--cyberBlue),
        0 0 10px var(--cyberBlue),
        0 0 20px var(--cyberPink),
        0 0 40px var(--cyberPink);
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--cyberBlue), transparent);
    margin: 20px 0;
}

main .intro {
    margin: 0;
    padding: 8px 15px;
    text-align: center;
}

.travaux {
  background: rgba(10, 1, 25, 0.6);
  padding: 10px;
  margin: 10px 32px;
  border-radius: 14px;
  border: solid 1px var(--cyberBlue);
}

.travaux h2 {
  text-align: center;
  color: var(--cyberBlue);
  cursor: pointer;
  text-shadow:
    0 0 10px var(--cyberBlue),
    0 0 25px var(--cyberPink);
  margin-bottom: 80px;
  transition: all 0.1s linear;
}

.travaux h2:hover {
  transform: scale(1.04);
}

.travaux ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}

.travaux li {
  text-align: center;
  padding: 12px;
  background: rgba(15, 15, 30, 0.8);
  border: 1px solid var(--cyberBlue);
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  box-shadow:
    0 0 10px rgba(0, 255, 255, 0.15),
    0 0 20px rgba(255, 0, 255, 0.1);

  transition: 0.25s ease;
}

.travaux li h3 {
  color: #8B5CF6;
  text-decoration: underline;
}

.travaux li:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: var(--cyberPink);
  box-shadow:
    0 0 10px var(--cyberBlue),
    0 0 16px var(--cyberPink);
}

.travaux button {
    position: relative;
    padding: 8px 12px;
    margin-top: 6px;
    width: 40%;

    border: 1px solid var(--cyberBlue);
    background: rgba(0, 10, 20, 0.85);

    color: var(--cyberBlue);
    font-family: "Consolas", monospace;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

    cursor: pointer;
    overflow: hidden;

    border-radius: 4px;
    box-shadow:
        0 0 5px var(--cyberBlue),
        inset 0 0 5px rgba(0, 255, 255, 0.5);

    transition: all 0.25s ease;
}

.travaux button:hover {
    background: var(--cyberBlue);
    color: #050510;

    box-shadow:
        0 0 10px var(--cyberBlue);
    transform: translateY(-3px);
}

/* balayage lumineux */
.travaux button::before {
    content: "";
    position: absolute;

    top: -50%;
    left: -100%;

    width: 60%;
    height: 200%;
    background: rgba(255, 255, 255, 0.25);

    transform: rotate(25deg);
    transition: left 0.5s ease;
}
.travaux button:hover::before {
    left: 140%;
}

/* ligne décorative */
.travaux button::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 50%;

    width: 0;
    height: 2px;

    background: var(--cyberBlue);
    box-shadow: 0 0 10px var(--cyberBlue);

    transform: translateX(-50%);
    transition: all 0.25s ease;
}
.travaux button:hover::after {
    width: 80%;
}

section.realisations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

section.realisations > *:not(.escapeButton) {
  background: linear-gradient(
    135deg,
    rgba(15, 15, 30, 0.95),
    rgba(30, 10, 45, 0.95)
  );

  border: 1px solid var(--cyberBlue);
  border-radius: 12px;

  width: 400px;
  padding: 12px 24px;

  box-shadow:
    0 0 8px rgba(0, 247, 255, 0.5),
    0 0 20px rgba(0, 247, 255, 0.2),
    inset 0 0 10px rgba(255, 0, 200, 0.15);

  backdrop-filter: blur(4px);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

.escapeButton {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 2.8em;
  background: none;
  color: white;
  border: none;
}

.escapeButton svg {
  filter: drop-shadow(0 0 5px var(--cyberBlue))
    drop-shadow(0 0 10px var(--cyberBlue))
    drop-shadow(0 0 20px var(--cyberPink))
    drop-shadow(0 0 40px var(--cyberPink));
}

#burgerButton {
    padding: 12px;
    font-size: 30px;

    color: var(--cyberBlue);
    background: rgba(0, 255, 255, 0.12);
    border: 1px solid rgba(0, 255, 255, 0.6);
    border-radius: 8px;
    z-index: 3;

    cursor: pointer;
    position: fixed;
    top: 14px;
    left: 22px;

    box-shadow:
        0 0 10px rgba(0, 255, 255, 0.25),
        inset 0 0 6px rgba(0, 255, 255, 0.15);

    backdrop-filter: blur(8px);
    transition: all 0.2s ease;
}

#burgerButton:hover {
    background: rgba(0, 255, 255, 0.25);

    box-shadow:
        0 0 14px rgba(0, 255, 255, 0.5),
        0 0 25px rgba(255, 0, 255, 0.2);

    transform: translateY(-2px);
}
#burgerButton:active {
    transform: scale(0.92);
}

nav {
  position: fixed;
  width: 100%;
  height: 120px;
  background: rgba(1, 132, 147, 0.6);
  backdrop-filter:
    blur(8px);
  box-shadow:
        0 0 15px rgba(0, 255, 255, 0.3),
        0 0 30px rgba(255, 0, 255, 0.15);
  border-bottom: 2px solid var(--cyberBlue);
  z-index: 2;

  transition: all 0.25s ease-out;
}

nav.affiche {
  transform: translateY(0);
}
nav.cache {
  transform: translateY(-120%);
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul button {
    padding: 10px 16px;
    margin-top: 15%;

    background: rgba(0, 255, 255, 0.15);
    color: var(--cyberBlue);

    border: 1px solid rgba(0, 255, 255, 0.7);
    border-radius: 6px;

    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;

    cursor: pointer;

    box-shadow:
        0 0 8px rgba(0, 255, 255, 0.25),
        inset 0 0 6px rgba(0, 255, 255, 0.15);

    transition: all 0.2s ease;
}

nav ul button:hover {
    background: rgba(0, 255, 255, 0.25);
    color: #0b1020;

    transform: translateY(-2px);

    box-shadow:
        0 0 12px rgba(0, 255, 255, 0.6),
        0 0 25px rgba(255, 0, 255, 0.25);
}

nav ul button:active {
    transform: scale(0.95);
}

.colorator-wrap {
  margin: 8px 0;
  width: 80px;
  height: 36px;
  border: 1px solid rgb(138, 231, 249);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  transition: all 0.04s ease-in-out;
}
.colorator-wrap:active {
  transform: scale(0.94);
}

/* glow animé */
.colorator-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    yellow, lime, blue, red 100%
  );
  background-size: 400% 100%;
  animation: rainbowMove 2s ease-out infinite alternate;
  filter: blur(6px);
  opacity: 0.7;
}

/* input FULL COVER (la clé) */
.colorator {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  cursor: pointer;
}