.escapeButton {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 2.8em;
  background: none;
  color: white;
  border: none;
}

.escapeButton svg {
  filter: drop-shadow(0 0 5px var(--cyberBlue))
    drop-shadow(0 0 10px var(--cyberBlue))
    drop-shadow(0 0 20px var(--cyberPink))
    drop-shadow(0 0 40px var(--cyberPink));
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

header div span {
    align-self: center;
    justify-self: center;
    flex-grow: 1;
    font-size: 3.5em;
    color: var(--cyberBlue);
}

header div span svg {
    color: var(--cyberBlue);
    margin: 0 12px;
    filter: drop-shadow(0 0 5px var(--cyberBlue))
            drop-shadow(0 0 10px var(--cyberBlue))
            drop-shadow(0 0 20px var(--cyberPink))
            drop-shadow(0 0 40px var(--cyberPink));
}

.favicon-container {
    min-width: 150px;
    max-width: 150px;
    padding: 2px;
    border-radius: 20px;
    background: linear-gradient(45deg,
        var(--cyberBlue) 0%,
        var(--cyberBlue) 10%,
        var(--cyberPink) 20%,
        var(--cyberBlue) 30%,
        var(--cyberPink) 40%,
        var(--cyberBlue) 50%,
        var(--cyberPink) 60%,
        var(--cyberBlue) 70%,
        var(--cyberPink) 80%,
        var(--cyberBlue) 90%,
        var(--cyberPink) 100%
    );
    background-size: 250% 250%;
    animation: gradientMove 3s linear infinite;
}

#favicon {
    width: 100%;
    height: 100%;
    clip-path: polygon(
        10% 0%,
        90% 0%,
        100% 10%,
        100% 35%,
        92% 50%,
        100% 65%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 65%,
        8% 50%,
        0% 35%,
        0% 10%
    );
    z-index: 1;
    border: 1px solid var(--cyberBlue);
    animation: neonPulse 1.5s infinite alternate, fade 4s ease-in-out infinite;
}

header h1 {
    font-size: 1.8em;
    text-shadow:
        0 0 5px var(--cyberBlue),
        0 0 10px var(--cyberBlue),
        0 0 20px var(--cyberPink),
        0 0 40px var(--cyberPink);
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--cyberBlue), transparent);
    margin: 20px 0;
}

main .intro {
    margin: 0;
    padding: 8px 15px;
    text-align: center;
}

.travaux {
  background: rgba(10, 1, 25, 0.6);
  padding: 10px;
  margin: 10px 32px;
  border-radius: 14px;
  border: solid 1px var(--cyberBlue);
}

.travaux h2 {
  text-align: center;
  color: var(--cyberBlue);
  cursor: pointer;
  text-shadow:
    0 0 10px var(--cyberBlue),
    0 0 25px var(--cyberPink);
  margin-bottom: 80px;
  transition: all 0.1s linear;
  &:hover {
    transform: scale(1.04);
  }
}

.travaux ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}

.travaux li {
  text-align: center;
  padding: 12px;
  background: rgba(26, 26, 48, 0.8);
  border: 1px solid var(--cyberBlue);
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  box-shadow:
    0 0 10px rgba(var(--cyberBlueRGB), 0.15),
    0 0 20px rgba(var(--cyberPurpleRGB), 0.1);

  transition: 0.25s ease;
}

.travaux li:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: var(--cyberPink);
  box-shadow:
    0 0 10px var(--cyberBlue),
    0 0 16px var(--cyberPink);
}

.travaux li h3 {
  color: var(--cyberPurple);
  text-decoration: underline;
}

.travaux button {
    padding: 8px 12px;
    margin-top: 6px;
    width: 40%;
}

section.realisations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px) brightness(36%);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

section.realisations > *:not(.escapeButton) {
  background: linear-gradient(
    135deg,
    rgba(15, 15, 30, 0.95),
    rgba(30, 10, 45, 0.95)
  );

  border: 1px solid var(--cyberBlue);
  border-radius: 12px;

  width: 400px;
  padding: 12px 24px;

  box-shadow:
    0 0 8px rgba(var(--cyberBlueRGB), 0.5),
    0 0 20px rgba(var(--cyberBlueRGB), 0.2),
    inset 0 0 10px rgba(var(--cyberPurpleRGB), 0.15);

  backdrop-filter: blur(4px);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

section.realisations h2 {
  margin: 8px;
  text-align: center;
  text-decoration: underline;
}

#burgerButton {
    padding: 10px 14px;
    font-size: 30px;

    color: var(--cyberBlue);
    background: rgba(var(--cyberBlueRGB), 0.12);
    border: 1px solid rgba(var(--cyberBlueRGB), 0.6);
    border-radius: 8px;
    z-index: 3;

    cursor: pointer;
    position: fixed;
    top: 14px;
    left: 22px;

    box-shadow:
        0 0 10px rgba(var(--cyberBlueRGB), 0.25),
        inset 0 0 6px rgba(var(--cyberBlueRGB), 0.15);

    backdrop-filter: blur(8px);
    transition: all 0.2s ease;
    &active {
      transform: scale(0.92);
    }
}

#burgerButton:hover {
    background: rgba(var(--cyberBlueRGB), 0.25);

    box-shadow:
        0 0 14px rgba(var(--cyberBlueRGB), 0.5),
        0 0 25px rgba(var(--cyberPurpleRGB), 0.2);

    transform: translateY(-2px);
}

nav {
  position: fixed;
  width: 100%;
  height: 120px;
  background: rgba(var(--cyberBlueRGB), 0.35);
  backdrop-filter:
    blur(8px);
  box-shadow:
        0 0 15px rgba(var(--cyberBlueRGB), 0.3),
        0 0 30px rgba(var(--cyberPurpleRGB), 0.15);
  border-bottom: 2px solid var(--cyberBlue);
  z-index: 2;

  transition: all 0.25s ease-out;
  &.affiche {
    transform: translateY(0);
  }
  &.cache {
    transform: translateY(-100%);
  }
}

#contacts nav, #propos nav {
  &.affiche {
    transform: translateY(-20%);
  }
  &.cache {
    transform: translateY(-120%);
  }
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul button {
    padding: 10px 16px;
    margin-top: 15%;

    background: rgba(var(--cyberBlueRGB), 0.15);
    color: var(--cyberBlue);

    border: 1px solid rgba(var(--cyberBlueRGB), 0.7);
    border-radius: 6px;

    font-family: "Audiowide";
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    box-shadow:
        0 0 8px rgba(var(--cyberBlueRGB), 0.25),
        inset 0 0 6px rgba(var(--cyberBlueRGB), 0.15);

    transition: all 0.2s cubic-bezier(.4,.9,.2,1);
}

nav ul button:hover {
    background: rgba(var(--cyberBlueRGB), 0.25);
    color: #0b1020;

    transform: translateY(-2px);

    box-shadow:
        0 0 12px rgba(var(--cyberBlueRGB), 0.6),
        0 0 25px rgba(var(--cyberPurpleRGB), 0.25);
}

#settingsPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px) brightness(30%);

  z-index: 3;
}

.settingsBox {
  background: linear-gradient(
    135deg,
    rgba(15, 15, 30, 0.95),
    rgba(30, 10, 45, 0.95)
  );

  border: 1px solid var(--cyberBlue);
  border-radius: 12px;

  width: 400px;
  padding: 12px 24px;

  box-shadow:
    0 0 8px rgba(var(--cyberBlueRGB), 0.5),
    0 0 20px rgba(var(--cyberBlueRGB), 0.2),
    inset 0 0 10px rgba(var(--cyberPurpleRGB), 0.15);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

#settingsPage h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(var(--cyberBlueRGB), 0.25);
  margin: 2px 0 16px 0;
}

#settingsPage fieldset:not(:last-child) {
  padding: 8px 12px;
  margin: 26px 8px;

  border: 1px solid rgba(var(--cyberBlueRGB), 0.432);
  border-radius: 8px;
  text-align: left;

  background: rgba(10, 12, 20, 0.4);
  box-shadow: inset 0 0 10px rgba(255, 0, 200, 0.05),
    0 0 12px rgba(var(--cyberBlueRGB), 0.7);
}

#settingsPage fieldset:hover:not(:last-child) {
  border: 1px solid rgba(var(--cyberBlueRGB), 0.63);
  box-shadow: 0 0 16px rgba(var(--cyberBlueRGB), 0.8);
}

#settingsPage legend {
  cursor: default;
  padding: 2px 12px;
  border-radius: 6px;
  color: rgba(var(--cyberBlueRGB), 0.4);

  background: rgba(6, 1, 46, 0.3);
  backdrop-filter: blur(2px);
  border: 1px solid var(--cyberBlue);

  box-shadow:
    0 0 6px var(--cyberBlue),
    0 0 18px rgba(var(--cyberPurple), 0.3);

  transition: all 0.1s ease-out;
  &:hover {
    transform: scale(1.02);
  }
}

#settingsPage fieldset label {
  display: block;
  margin: 2px 0 10px 0;
}

/* RANGE plus cyberpunk */
#settingsPage input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  width: 240px;
  height: 6px;
  border-radius: 999px;

  background: linear-gradient(90deg, #2040f3, #6a14f4, #ec0cbb);
  box-shadow: 0 0 12px rgba(49, 3, 155, 0.25);

  outline: none;
  cursor: pointer;
}

#settingsPage input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(90deg, #3351fa, #6a14f4, #87029e);
  border-radius: 999px;
}

#settingsPage input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  background: #0f0f0f;
  border: 2px solid #2b57e8;

  box-shadow:
    0 0 8px #005eff,
    0 0 18px #7c4dff;

  transition: transform 0.15s ease;
  margin-top: -6px;
}

#settingsPage input[type="range"]::-moz-range-track {
  height: 6px;
  background: linear-gradient(90deg, #3351fa, #6a14f4, #87029e);
  border-radius: 999px;
}

#settingsPage input[type="range"]::-moz-range-thumb {
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  background: #0f0f0f;
  border: 2px solid #2b57e8;

  box-shadow:
    0 0 8px #005eff,
    0 0 18px #7c4dff;

  transition: transform 0.15s ease;
  margin-top: -6px;
}

#settingsPage input[type="range"]:focus {
  outline: none;
}

#settingsPage select {
  font-family: "Audiowide";
  width: 100%;
  padding: 10px 14px;

  background: linear-gradient(145deg, rgba(10, 12, 20, 0.95), rgba(5, 6, 10, 0.85));
  color: lightblue;

  border: 1px solid rgba(var(--cyberBlueRGB), 0.35);
  border-radius: 5px;

  outline: none;
  cursor: pointer;

  transition: all 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: base-select;
  -webkit-appearance: base-select;
  -moz-appearance: base-select;

  padding-right: 40px;
}

#settingsPage select:hover {
  border-color: rgba(var(--cyberBlueRGB), 0.7);
  box-shadow: 0 0 18px rgba(var(--cyberBlueRGB), 0.15);
}

#settingsPage select:focus {
  border-color: var(--cyberBlue);
  box-shadow: 0 0 25px rgba(var(--cyberBlueRGB), 0.25);
}

@supports selector(select::picker(select)) {
  select::picker(select) {
    background: rgba(var(--cyberBlueRGB) 0.95);
    color: var(--cyberBlue);

    border: 1px solid rgba(var(--cyberBlueRGB), 0.35);
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    border: none;

    backdrop-filter: blur(12px);
    box-shadow:
      0 0 18px rgba(var(--cyberBlueRGB), 0.15),
      inset 0 0 10px rgba(var(--cyberPurpleRGB), 0.08);
  }
}

#settingsPage select::picker-icon {
  content: "⮟";
  transition: all 0.4s ease-out;
}
select:open::picker-icon {
  transform: rotate(180deg);
}

#settingsPage option {
  background: #0a0c14;
  color: lightblue;
}
#settingsPage option:hover {
  background: rgba(var(--cyberBlueRGB), 0.5);
}

#settingsPage option:checked {
  background: var(--cyberBlue);
  color: black;
}

#settingsPage select option::checkmark {
  content: "✔︎";
  color: white;
}

.colorator-wrap {
  margin: 8px 0;
  width: 80px;
  height: 36px;
  border: 1px solid rgb(24, 234, 24);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  transition: all 0.04s ease-in-out;
}
.colorator-wrap:active {
  transform: scale(0.94);
}

/* glow animé */
.colorator-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    yellow, lime, blue, red 100%
  );
  background-size: 400% 100%;
  animation: rainbowMove 2s ease-out infinite alternate;
  filter: blur(6px);
  opacity: 0.7;
}

/* input FULL COVER (la clé) */
input[type="color"] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

#settingsPage button {
  text-align: center;
  padding: 8px 10px;
  margin: 2px 8px;
  letter-spacing: 1px;
}

#contacts h1, #propos h1 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;

  text-shadow: 0 0 6px rgba(var(--cyberBlueRGB), 0.25);

  border-bottom: 1px solid rgba(var(--cyberBlueRGB), 0.2);
  padding-bottom: 6px;
}

#contacts p, #propos p {
  margin: 14px 0;
  line-height: 1.7;
  font-size: 1.05rem;

  text-shadow:
    0 0 4px rgba(var(--cyberBlueRGB), 0.25),
    0 0 10px rgba(var(--cyberBlueRGB), 0.1);

  border-left: 2px solid rgba(var(--cyberBlueRGB), 0.2);
  padding-left: 12px;

  background: linear-gradient(
    90deg,
    rgba(var(--cyberBlueRGB), 0.06),
    transparent
  );
}