@keyframes neonPulse {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.5);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    45%, 55% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rainbowMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@layer base {
    html, body {
        font-family: 'Audiowide';
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 1.2;
        overflow-x: hidden;
        background:
            linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ), url('/public/cyber-background.png') no-repeat fixed;
        background-size: cover;
    }

    ::selection {
        background: #00fff7;
        color: #0b0b0f;
    }

    .standardTheme {
        --cyberPink: #ff00ff;
        --cyberBlue: #00ffff;
        --cyberPurple: #8B5CF6;

        --cyberBlueRGB: 0, 255, 255;
        --cyberPinkRGB: 255, 0, 255;
        --cyberPurpleRGB: 139, 92, 246;

        --blackFont: rgba(0, 0, 0, 0.75);
    }

    .redTheme {
        --cyberPink: #ff4d6d;
        --cyberBlue: #ff1f3d;
        --cyberPurple: #b91c1c;

        --cyberPinkRGB: 255, 77, 109;
        --cyberBlueRGB: 255, 31, 61;
        --cyberPurpleRGB: 185, 28, 28;

        --blackFont: rgba(0, 0, 0, 0.75);
    }

    .yellowTheme {
        --cyberPink: #ffe066;
        --cyberBlue: #ffcc00;
        --cyberPurple: #d4a017;

        --cyberPinkRGB: 255, 224, 102;
        --cyberBlueRGB: 255, 204, 0;
        --cyberPurpleRGB: 212, 160, 23;

        --blackFont: rgba(0, 0, 0, 0.75);
    }

    .greenTheme {
        --cyberPink: #4dff88;
        --cyberBlue: #19ff66;
        --cyberPurple: #16a34a;

        --cyberPinkRGB: 77, 255, 136;
        --cyberBlueRGB: 25, 255, 102;
        --cyberPurpleRGB: 22, 163, 74;

        --blackFont: rgba(0, 0, 0, 0.75);
    }

    ul {
        list-style: none;
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    button {
        position: relative;
        border: 1px solid var(--cyberBlue);
        background: rgba(0, 10, 20, 0.85);

        color: var(--cyberBlue);
        font-family: "Audiowide";
        letter-spacing: 2px;

        cursor: pointer;
        overflow: hidden;

        border-radius: 4px;
        box-shadow:
            0 0 5px var(--cyberBlue),
            inset 0 0 5px rgba(var(--cyberBlueRGB), 0.5);

        transition: all 0.25s ease;
    }

    button:hover {
        background: var(--cyberBlue);
        color: #050510;
        box-shadow:
            0 0 10px var(--cyberBlue);
        transform: translateY(-3px);
        &::before {
        left: 140%;
        }
        &::after {
        width: 80%;
        }
    }

    /* balayage lumineux */
    button::before {
        content: "";
        position: absolute;

        top: -50%;
        left: -100%;

        width: 60%;
        height: 200%;
        background: rgba(255, 255, 255, 0.25);

        transform: rotate(25deg);
        transition: left 0.5s ease;
    }

    /* ligne décorative */
    button::after {
        content: "";
        position: absolute;

        bottom: 0;
        left: 50%;

        width: 0;
        height: 2px;

        background: var(--cyberBlue);
        box-shadow: 0 0 10px var(--cyberBlue);

        transform: translateX(-50%);
        transition: all 0.25s ease;
    }
}