@keyframes neonPulse {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.5);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    45%, 55% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@layer base {
  html, body {
    font-family: 'Audiowide';
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    overflow-x: hidden;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ), url('/public/cyber-background.png') no-repeat fixed;
    background-size: cover;
  }

  ::selection {
    background: #00fff7;
    color: #0b0b0f;
  }

  ul {
    list-style: none;
  }
}